<footer>
    <div class="footer-con">
        <div class="col-4 f-item">
            <p class="f-title first-title">Funiro.</p>
            <p class="desc text-grey">
                400 University Drive Suite 200 Coral <br />Gables,<br />
                FL 33134 USA
            </p>
        </div>

        <div class="col-3 f-item">
            <p class="f-title text-grey">Links</p>

            <ul class="f-list">
                <li class="f-list-item">
                    <p>Home</p>
                </li>
                <li class="f-list-item">
                    <p>Shop</p>
                </li>
                <li class="f-list-item">
                    <p>About</p>
                </li>
                <li class="f-list-item">
                    <p>Contact</p>
                </li>
            </ul>
        </div>

        <div class="col-3 f-item">
            <p class="f-title text-grey">Help</p>

            <ul class="f-list">
                <li class="f-list-item">
                    <p>Payment Options</p>
                </li>
                <li class="f-list-item">
                    <p>Returns</p>
                </li>
                <li class="f-list-item">
                    <p>Privacy Policies</p>
                </li>
            </ul>
        </div>

        <div class="col-4 f-item">
            <p class="f-title text-grey">Newsletter</p>

            <div class="edit-text">
                <input type="text" placeholder="Enter Your Email Address">
                <button>SUBSCRIBE</button>
            </div>
        </div>
    </div>
    <p class="copyright">2024 @copyright Mohammad Al-Yamani furino.</p>
</footer>