<nav class="my-nav">
    <div class="app-logo col-3">
        <img src="./assets/logo.png" alt="">
        <p>Furniro</p>
    </div>

    <div class="menu-btn-con" (click)="openNav()">
        <div class="menu-btn"></div>
        <div class="menu-btn"></div>
        <div class="menu-btn"></div>
    </div>

    <ul class="nav-links-con col-3">
        <li class="cus-nav-link" routerLink=""><p>Home</p></li>
        <li class="cus-nav-link" routerLink="shop"><p>Shop</p></li>
        <li class="cus-nav-link" ><p>About</p></li>
        <li class="cus-nav-link" routerLink="contact"><p>Contact</p></li>
    </ul>

    <ul class="nav-icons-con col-3">
        <li class="nav-icon-link">
            <img src="../../assets/icons/person.png" alt="">
        </li>
        <li class="nav-icon-link">
            <img src="../../assets/icons/search.png" alt="">
        </li>
        <li class="nav-icon-link">
            <img src="../../assets/icons/fav.png" alt="">
        </li>
        <li class="nav-icon-link">
            <img src="../../assets/icons/cart.png" alt="">
        </li>
    </ul>
</nav>